@import "reset.css";

:root {
    --grid-theme: "Standard";
    --grid-size: 9;
    --cell-width: 90px;
    --cell-height: 90px;
}

:root:has(option[value="Standard"]:checked) {
    --grid-theme: "Standard";
}

main {
    margin: 0 auto;
    padding: 4rem;
}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: calc(var(--grid-size) * var(--cell-width));
    height: calc(var(--grid-size) * var(--cell-height));
    background-color: #fafafa;
    outline: 2px solid #444;
    user-select: none;
    cursor: pointer;
    font-size: 3rem;
    font-family: sans-serif;
}

.grid::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 33.33%;
    width: 1px;
    background: #444;
    box-shadow: calc(3 * var(--cell-width)) 0 black;
}

.grid::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 33.33%;
    height: 1px;
    background: #444;
    box-shadow: 0 calc(3 * var(--cell-height)) black;
}

.cell {
    width: var(--cell-width);
    height: var(--cell-height);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid #444;
    color: #333;
    background-color: var(--clr-cell-bg, inherit);
}

.cell[aria-selected="true"] {
    @container style(--grid-theme: "Standard") {
        --clr-cell-bg: #ddeada;
    }
}