@import "reset.css";

:root {
    --grid-size: 9;
    --cell-width: 90px;
    --cell-height: 90px;

    --clr-border-blue: #63a5ff;
}

main {
    margin: 0 auto;
    padding: 4rem;
}

.sudoku-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: calc(var(--grid-size) * var(--cell-width));
    height: calc(var(--grid-size) * var(--cell-height));
    background-color: #fafafa;
    outline: 2px solid #444;
    user-select: none;
    cursor: pointer;
}

.cell {
    width: var(--cell-width);
    height: var(--cell-height);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid #444;
    background-color: white;
    color: #333;
}

.cell[aria-selected="true"] {
    background-color: aliceblue;
}

svg {
    width: 25px;
    aspect-ratio: 1;
}