@page "/"

@using Sudoku.Blazor.Client.Components.Shared

<div id="sudoku">
    <SudokuGrid @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)"></SudokuGrid>
    @* <SudokuGrid @rendermode="InteractiveWebAssembly"></SudokuGrid> *@
</div>